// src/app/globals.scss
@use "variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: $bg-main;
  color: $text-dark;
}